@import "DialogImages";
@import "DialogCameraImages";

@import "Styles/DialogDefault";
@import "Styles/DialogTabs";
@import "Styles/DialogHeader";
@import "Styles/DialogContainer";
@import "Styles/DialogButton";
@import "Styles/DialogItem";
@import "Styles/DialogCamera";
@import "Styles/DialogProperty";
@import "Styles/DialogDisplay";

#dialogs {
    position: absolute;

    left: 0;
    top: 0;

    pointer-events: none;

    width: 100%;
    height: 100%;
}
