@import "Sprites/Sprites.scss";

@import "development/development.scss";
@import "Room/Room.scss";
@import "Loader/Loader.scss";
@import "Dialogs/Dialogs.scss";
@import "Menu/Menu.scss";
@import "Shop/Shop.scss";
@import "Interface/Interface.scss";

body {
    background: #111;
}

* {
    box-sizing: border-box;

    user-select: none;
} 

::-webkit-scrollbar {
    display: none;
}

#client {
    overflow: hidden;
    
    position: fixed;

    left: 0;
    top: 0;

    width: 100%;
    height: calc(100% - 256px);

    transform: translate3d(0, 0, 0);
}
