#menu {
    height: 50px;
    width: 100%;

    position: absolute;

    bottom: 0;
    left: 0;

    background: rgba(28, 28, 26, .9);

    border-top: 2px solid rgba(64, 64, 64, .75);
    border-bottom: 1px solid rgba(64, 64, 64, .75);

    padding: 0 12px;

    &:before {
        content: '';

        left: 0;
        top: -1px;

        width: 100%;
        height: 1px;

        background: rgba(0, 0, 0, .5);
    }

    .menu-item {
        display: inline-block;

        height: 45px;
        width: 50px;

        cursor: pointer;

        position: relative;

        .menu-sprite {
            background-image: url('./../images/Menu/images.png');

            position: absolute;

            left: 0; right: 0;
            top: 0; bottom: 0;

            margin: auto;
        }

        .menu-navigator {
            width: 44px;
            height: 30px;

            background-position: 0px 0px;
        }

        .menu-shop {
            width: 37px;
            height: 37px;

            background-position: 0px -30px;
        }

        .menu-inventory {
            width: 44px;
            height: 41px;

            background-position: 0px -67px;
        }

        .menu-camera {
            @include sprite-menu-camera();
        }

        .menu-user {
            background: none;
            
            position: relative;

            width: 45px;
            height: 45px;

            overflow: hidden;

            canvas {
                position: absolute;

                left: -102px;
                top: -94px;
            }
        }

        &:hover {
            .menu-sprite {
                transform: translate(-1px, -1px);
            }
        }

        &:active {
            .menu-sprite {
                opacity: .5;

                transform: translate(1px, 1px);
            }
        }
    }
}
