.inventory-furnitures {
    display: grid;

    grid-gap: 6px;
    grid-template-columns: auto 200px;

    height: 100%;

    .inventory-furniture-display {
        position: relative;

        .inventory-furniture-display-canvas {
            position: absolute;

            left: 0; top: 0;
            right: 0; bottom: 100px;

            margin: auto;
        }

        .inventory-furniture-display-information {
            width: 100%;

            position: absolute;

            bottom: 0;

            .dialog-button {
                margin-top: 6px;
            }
        }
    }

    .inventory-furnitures-container {
        overflow: auto;

        .inventory-furnitures-content {
            .inventory-furniture-icon {
                width: 40px;
                height: 40px;

                display: inline-block;

                margin: 0 3px 3px 0;

                position: relative;

                background: #CBCBCB;

                border: 1px solid #000;
                border-radius: 6px;

                .inventory-furniture-icon-image {
                    position: absolute;

                    left: 0; right: 0;
                    top: 0; bottom: 0;

                    margin: auto;
                }

                cursor: pointer;

                &.active {
                    &:after {
                        content: '';

                        position: absolute;

                        left: 0;
                        top: 0;

                        width: calc(100% - 4px);
                        height: calc(100% - 4px);

                        border: 2px solid #FFF;
                        border-radius: 5px;
                    }
                }
            }
        }
    }
}
