.inventory-furnitures {
    display: grid;

    grid-gap: 6px;
    grid-template-columns: auto 200px;

    height: 100%;

    .inventory-furniture-display {
        position: relative;

        .inventory-furniture-display-canvas {
            position: absolute;

            left: 0; top: 0;
            right: 0; bottom: 100px;

            margin: auto;
        }

        .inventory-furniture-display-information {
            width: 100%;

            position: absolute;

            bottom: 0;

            .dialog-button {
                margin-top: 6px;
            }
        }
    }

    .inventory-furnitures-container {
        overflow: auto;

        .inventory-furnitures-content {
            .inventory-furniture-icon {
                width: 40px;
                height: 40px;

                position: relative;

                .inventory-furniture-icon-quantity {
                    position: absolute;

                    right: 3px;
                    top: 0;

                    font-size: 10px;

                    font-family: "Volter Regular";

                    text-shadow: 1px 1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, -1px -1px 0 #FFF, 1px 0px 0 #FFF, 0px 1px 0 #FFF, -1px 0px 0 #FFF, 0px -1px 0 #FFF;
                }

                .inventory-furniture-icon-image {
                    position: absolute;

                    left: 0; right: 0;
                    top: 0; bottom: 0;

                    margin: auto;
                }
            }
        }
    }
}
