//
// css sprite mixins - created with http://www.codeandweb.com/texturepacker
// exporter created by Rob Moorman
//
// $TexturePacker:SmartUpdate:088cdfe5b488bc76884d06bbf723e293:6d69a7995f44001a8573f62d2f252e2b:9b4bc51f3b49aa7c905afde70ee67c52$


@mixin sprite-arrow-big-left($path: './')
    display: inline-block
    overflow: hidden
    width: 44px
    height: 29px
    background:
        repeat: no-repeat
        image: url('#{$path}./../images/Sprites.png')
        position: -1px -92px

@mixin sprite-cursor-pointer($path: './')
    display: inline-block
    overflow: hidden
    width: 18px
    height: 24px
    background:
        repeat: no-repeat
        image: url('#{$path}./../images/Sprites.png')
        position: -47px -92px

@mixin sprite-dropdown($path: './')
    display: inline-block
    overflow: hidden
    width: 10px
    height: 10px
    background:
        repeat: no-repeat
        image: url('#{$path}./../images/Sprites.png')
        position: -124px -102px

@mixin sprite-dropup($path: './')
    display: inline-block
    overflow: hidden
    width: 10px
    height: 10px
    background:
        repeat: no-repeat
        image: url('#{$path}./../images/Sprites.png')
        position: -124px -114px

@mixin sprite-lock-big-password($path: './')
    display: inline-block
    overflow: hidden
    width: 36px
    height: 44px
    background:
        repeat: no-repeat
        image: url('#{$path}./../images/Sprites.png')
        position: -1px -1px

@mixin sprite-lock-big-private($path: './')
    display: inline-block
    overflow: hidden
    width: 29px
    height: 43px
    background:
        repeat: no-repeat
        image: url('#{$path}./../images/Sprites.png')
        position: -1px -47px

@mixin sprite-lock-big-public($path: './')
    display: inline-block
    overflow: hidden
    width: 29px
    height: 43px
    background:
        repeat: no-repeat
        image: url('#{$path}./../images/Sprites.png')
        position: -32px -47px

@mixin sprite-lock($path: './')
    display: inline-block
    overflow: hidden
    width: 13px
    height: 16px
    background:
        repeat: no-repeat
        image: url('#{$path}./../images/Sprites.png')
        position: -109px -109px

@mixin sprite-pen($path: './')
    display: inline-block
    overflow: hidden
    width: 17px
    height: 18px
    background:
        repeat: no-repeat
        image: url('#{$path}./../images/Sprites.png')
        position: -123px -13px

@mixin sprite-plus($path: './')
    display: inline-block
    overflow: hidden
    width: 15px
    height: 15px
    background:
        repeat: no-repeat
        image: url('#{$path}./../images/Sprites.png')
        position: -124px -85px

@mixin sprite-pointer-down($path: './')
    display: inline-block
    overflow: hidden
    width: 8px
    height: 8px
    background:
        repeat: no-repeat
        image: url('#{$path}./../images/Sprites.png')
        position: -123px -33px

@mixin sprite-pointer-right($path: './')
    display: inline-block
    overflow: hidden
    width: 8px
    height: 8px
    background:
        repeat: no-repeat
        image: url('#{$path}./../images/Sprites.png')
        position: -133px -33px

@mixin sprite-room-door-plus($path: './')
    display: inline-block
    overflow: hidden
    width: 40px
    height: 40px
    background:
        repeat: no-repeat
        image: url('#{$path}./../images/Sprites.png')
        position: -39px -1px

@mixin sprite-room-tile-add($path: './')
    display: inline-block
    overflow: hidden
    width: 40px
    height: 40px
    background:
        repeat: no-repeat
        image: url('#{$path}./../images/Sprites.png')
        position: -63px -43px

@mixin sprite-room-tile-down($path: './')
    display: inline-block
    overflow: hidden
    width: 40px
    height: 40px
    background:
        repeat: no-repeat
        image: url('#{$path}./../images/Sprites.png')
        position: -81px -1px

@mixin sprite-room-tile-remove($path: './')
    display: inline-block
    overflow: hidden
    width: 40px
    height: 40px
    background:
        repeat: no-repeat
        image: url('#{$path}./../images/Sprites.png')
        position: -67px -85px

@mixin sprite-room-tile-up($path: './')
    display: inline-block
    overflow: hidden
    width: 40px
    height: 40px
    background:
        repeat: no-repeat
        image: url('#{$path}./../images/Sprites.png')
        position: -105px -43px

@mixin sprite-tiles($path: './')
    display: inline-block
    overflow: hidden
    width: 18px
    height: 10px
    background:
        repeat: no-repeat
        image: url('#{$path}./../images/Sprites.png')
        position: -123px -1px

@mixin sprite-zoom-plus($path: './')
    display: inline-block
    overflow: hidden
    width: 13px
    height: 22px
    background:
        repeat: no-repeat
        image: url('#{$path}./../images/Sprites.png')
        position: -109px -85px

