//
// css sprite mixins - created with http://www.codeandweb.com/texturepacker
// exporter created by Rob Moorman
//
// $TexturePacker:SmartUpdate:02e678f6b94c16ce1f4eeb7c8d537689:283096a91a59f4911a7dc8785be3b7ba:9b4bc51f3b49aa7c905afde70ee67c52$


@mixin sprite-arrow-big-left($path: './')
    display: inline-block
    overflow: hidden
    width: 44px
    height: 29px
    background:
        repeat: no-repeat
        image: url('#{$path}./../images/Sprites.png')
        position: -85px -88px

@mixin sprite-cursor-pointer($path: './')
    display: inline-block
    overflow: hidden
    width: 18px
    height: 24px
    background:
        repeat: no-repeat
        image: url('#{$path}./../images/Sprites.png')
        position: -1px -89px

@mixin sprite-dropdown($path: './')
    display: inline-block
    overflow: hidden
    width: 10px
    height: 10px
    background:
        repeat: no-repeat
        image: url('#{$path}./../images/Sprites.png')
        position: -21px -109px

@mixin sprite-dropup($path: './')
    display: inline-block
    overflow: hidden
    width: 10px
    height: 10px
    background:
        repeat: no-repeat
        image: url('#{$path}./../images/Sprites.png')
        position: -131px -86px

@mixin sprite-lock-big-password($path: './')
    display: inline-block
    overflow: hidden
    width: 36px
    height: 44px
    background:
        repeat: no-repeat
        image: url('#{$path}./../images/Sprites.png')
        position: -1px -1px

@mixin sprite-lock-big-private($path: './')
    display: inline-block
    overflow: hidden
    width: 29px
    height: 43px
    background:
        repeat: no-repeat
        image: url('#{$path}./../images/Sprites.png')
        position: -123px -1px

@mixin sprite-lock-big-public($path: './')
    display: inline-block
    overflow: hidden
    width: 29px
    height: 43px
    background:
        repeat: no-repeat
        image: url('#{$path}./../images/Sprites.png')
        position: -85px -43px

@mixin sprite-lock($path: './')
    display: inline-block
    overflow: hidden
    width: 13px
    height: 16px
    background:
        repeat: no-repeat
        image: url('#{$path}./../images/Sprites.png')
        position: -116px -70px

@mixin sprite-menu-pointer-right($path: './')
    display: inline-block
    overflow: hidden
    width: 8px
    height: 8px
    background:
        repeat: no-repeat
        image: url('#{$path}./../images/Sprites.png')
        position: -33px -109px

@mixin sprite-pen($path: './')
    display: inline-block
    overflow: hidden
    width: 17px
    height: 18px
    background:
        repeat: no-repeat
        image: url('#{$path}./../images/Sprites.png')
        position: -21px -89px

@mixin sprite-plus($path: './')
    display: inline-block
    overflow: hidden
    width: 15px
    height: 15px
    background:
        repeat: no-repeat
        image: url('#{$path}./../images/Sprites.png')
        position: -131px -69px

@mixin sprite-pointer-down($path: './')
    display: inline-block
    overflow: hidden
    width: 8px
    height: 8px
    background:
        repeat: no-repeat
        image: url('#{$path}./../images/Sprites.png')
        position: -131px -98px

@mixin sprite-pointer-right($path: './')
    display: inline-block
    overflow: hidden
    width: 8px
    height: 8px
    background:
        repeat: no-repeat
        image: url('#{$path}./../images/Sprites.png')
        position: -131px -108px

@mixin sprite-room-door-plus($path: './')
    display: inline-block
    overflow: hidden
    width: 40px
    height: 40px
    background:
        repeat: no-repeat
        image: url('#{$path}./../images/Sprites.png')
        position: -39px -1px

@mixin sprite-room-tile-add($path: './')
    display: inline-block
    overflow: hidden
    width: 40px
    height: 40px
    background:
        repeat: no-repeat
        image: url('#{$path}./../images/Sprites.png')
        position: -81px -1px

@mixin sprite-room-tile-down($path: './')
    display: inline-block
    overflow: hidden
    width: 40px
    height: 40px
    background:
        repeat: no-repeat
        image: url('#{$path}./../images/Sprites.png')
        position: -1px -47px

@mixin sprite-room-tile-remove($path: './')
    display: inline-block
    overflow: hidden
    width: 40px
    height: 40px
    background:
        repeat: no-repeat
        image: url('#{$path}./../images/Sprites.png')
        position: -43px -43px

@mixin sprite-room-tile-up($path: './')
    display: inline-block
    overflow: hidden
    width: 40px
    height: 40px
    background:
        repeat: no-repeat
        image: url('#{$path}./../images/Sprites.png')
        position: -43px -85px

@mixin sprite-settings($path: './')
    display: inline-block
    overflow: hidden
    width: 21px
    height: 21px
    background:
        repeat: no-repeat
        image: url('#{$path}./../images/Sprites.png')
        position: -131px -46px

@mixin sprite-tiles($path: './')
    display: inline-block
    overflow: hidden
    width: 18px
    height: 10px
    background:
        repeat: no-repeat
        image: url('#{$path}./../images/Sprites.png')
        position: -1px -115px

@mixin sprite-zoom-plus($path: './')
    display: inline-block
    overflow: hidden
    width: 13px
    height: 22px
    background:
        repeat: no-repeat
        image: url('#{$path}./../images/Sprites.png')
        position: -116px -46px

