$url: url('./../images/Sprites.png');

@mixin sprite-dropdown {background: $url;width:10px; height:10px; background-position: -0px -0px}
@mixin sprite-dropup {background: $url;width:10px; height:10px; background-position: -10px -0px}
@mixin sprite-pen {background: $url;width:17px; height:18px; background-position: -0px -10px}

