@font-face {
    font-family: "Ubuntu Regular";
    
    src: url(./../images/fonts/Ubuntu-Regular.ttf);
}

@font-face {
    font-family: "Ubuntu Italic";
    
    src: url(./../images/fonts/Ubuntu-Italic.ttf);
}

@font-face {
    font-family: "Ubuntu Light";
    
    src: url(./../images/fonts/Ubuntu-Light.ttf);
}

@font-face {
    font-family: "Ubuntu Light Italic";
    
    src: url(./../images/fonts/Ubuntu-LightItalic.ttf);
}

@font-face {
    font-family: "Ubuntu Medium";
    
    src: url(./../images/fonts/Ubuntu-Medium.ttf);
}

@font-face {
    font-family: "Ubuntu Medium Italic";
    
    src: url(./../images/fonts/Ubuntu-MediumItalic.ttf);
}

@font-face {
    font-family: "Ubuntu Bold";
    
    src: url(./../images/fonts/Ubuntu-Bold.ttf);
}

@font-face {
    font-family: "Ubuntu Bold Italic";
    
    src: url(./../images/fonts/Ubuntu-BoldItalic.ttf);
}

@font-face {
    font-family: "Volter Regular";
    
    src: url(./../images/fonts/Volter-Regular.ttf);
}

@font-face {
    font-family: "Volter Bold";
    
    src: url(./../images/fonts/Volter-Bold.ttf);
}

body {
    color: #F1F1F1;

    font-family: "Ubuntu Regular";
    font-size: 14px;
}

h1, h2, h3, h4, h5, h6, p, span {
    margin: 0;
    
    font-weight: normal;
}

h1 {
    font-family: "Ubuntu Bold";
    font-size: 17px;
    text-shadow: none;
}

p {
    font-family: "Ubuntu Regular";
    font-size: 13px;
    text-shadow: none;
}

table {
    color: inherit;
    border: none;
    font-size: 13px;
}
