.room-interface-display {
    position: absolute;

    right: 6px;
    bottom: 56px;

    display: grid;

    grid-template-rows: auto auto;

    .room-interface-display-content {
        background: rgb(28, 28, 26);

        border: 1px solid rgba(64, 64, 64, .75);
        border-radius: 3px;

        padding: 6px;
        
        .room-interface-display-title {
            font-size: 13px;
        }

        .room-interface-display-break {
            border-bottom: 1px solid rgba(68, 68, 68, .75);

            width: 100%;

            margin: 6px 0;
        }
        
        .room-interface-display-description {
            font-size: 13px;

            color: rgb(150, 150, 150);

            max-width: 234px;
        }

        .room-interface-display-canvas {
            display: flex;
            margin: 0 auto;
        }

        .room-interface-display-grid {
            display: grid;

            height: 130px;

            grid-gap: 6px;

            grid-template-columns: 67px auto;

            .room-interface-display-figure {
                background: rgba(100, 100, 100, .25); 

                border: 1px solid rgba(24, 24, 24, .5);
                border-radius: 6px;
                
                position: relative;

                canvas {
                    position: absolute;

                    left: -100px;
                    top: -64px;

                    margin: auto;
                }

                &.room-interface-display-bot {
                    &:before {
                        content: '';

                        @include sprite-user-profile-bot();

                        position: absolute;

                        left: 0;
                        top: 0;

                        opacity: .15;
                    }
                }
            }

            .room-interface-display-badges {
                display: grid;

                grid-gap: 6px;

                grid-template-columns: 40px 40px;
                grid-template-rows: repeat(3, 40px);
                
                .room-interface-display-badge {
                    
                }

                .room-interface-display-group {
                    
                }
            }
        }
    }

    .room-interface-display-buttons {
        .room-interface-display-button {
            float: right;

            margin-top: 6px;

            background: rgba(28, 28, 26, .9);
            
            border: 1px solid rgba(64, 64, 64, .75);
            border-radius: 3px;

            padding: 6px 8px;

            margin-left: 6px;

            cursor: pointer;

            &:last-child {
                margin-left: 0;
            }
        }
    }
}