.room-interface-display {
    position: absolute;

    right: 6px;
    bottom: 62px;

    display: grid;

    grid-gap: 6px;
    grid-template-rows: auto 24px;

    .room-interface-display-content {
        background: rgb(28, 28, 26);

        border: 1px solid rgba(64, 64, 64, .75);
        border-radius: 3px;

        padding: 6px;
        
        .room-interface-display-title {
            font-size: 13px;
        }

        .room-interface-display-break {
            border-bottom: 1px solid rgba(68, 68, 68, .75);

            width: 100%;

            margin: 6px 0;
        }

        .room-interface-display-canvas {
            display: flex;
            margin: 0 auto;
        }
    }

    .room-interface-display-buttons {
        .room-interface-display-button {
            float: right;

            background: rgba(28, 28, 26, .9);
            
            border: 1px solid rgba(64, 64, 64, .75);
            border-radius: 3px;

            padding: 6px 8px;

            margin-left: 6px;

            cursor: pointer;

            &:last-child {
                margin-left: 0;
            }
        }
    }
}