#client-development {
    position: fixed;

    left: 0;
    //top: 32px;
    top: 0;

    pointer-events: none;
    
    padding: 12px;

    color: rgba(255, 255, 255, .5);

    width: 100%;

    z-index: 4086;

    box-sizing: border-box;

    .client-development-right {
        position: absolute;

        top: 0;
        left: 0;

        width: 100%;
    
        padding: 12px;

        box-sizing: border-box;

        text-align: right;
    }
}
