input, textarea {
    background: #FFF;

    border: 1px solid #808080;
    border-radius: 6px;

    font-family: "Ubuntu Regular";

    padding: 4px 6px;

    font-size: 13px;

    &::placeholder {
        color: #B6B6B6;
    }

    &:focus {
        outline: none;
    }
}

.textarea-pen, .input-pen {
    position: relative;
    
    &:after {
        content: '';

        @include sprite-pen();

        position: absolute;

        right: 6px;

        top: 2px;
        bottom: 0px;

        margin: auto 0;
    }
}

.textarea-pen:after {
    margin: initial;

    top: 6px;
}
