@import "../../../images/general/logo";

#client-loader {
    background-color: #15507c;
    background-image: linear-gradient(135deg, #15507c, #0c3a65) no-repeat fixed;

    width: 100%;
    height: 100%;

    position: absolute;

    left: 0;
    top: 0;

    z-index: 2048;

    display: flex;

    .client-loader-container {
        margin: auto;

        min-width: 200px;

        text-align: center
    }

    .client-loader-logo {
        @include sprite-logo;

        margin: auto auto 4px;
    }

    #client-loader-text {
        text-shadow: 0 1px rgb(0 0 0 / 30%);
    
        color: #FFF;
                
        text-transform: uppercase;
    } 
}
