.room-creation {
    .room-creation-grid {
        display: grid;

        grid-gap: 6px;
        grid-template-columns: 50% 50%;

        height: 265px;
    }

    .room-creation-property {
        p {
            b {
                display: block;
            }

            margin-bottom: 6px;
        }

        input, textarea {
            width: 100%;
        }

        textarea {
            height: 64px;

            min-height: 64px;
            max-height: 64px;

            max-width: 100%;
            min-width: 100%;
        }

        .room-creation-privacy-selection {
            display: grid;

            grid-template-columns: 33% 33% 33%;

            margin-top: 12px;

            .room-creation-privacy-option {
                text-align: center;

                opacity: .25;

                cursor: pointer;

                &:hover, &.active {
                    opacity: 1;
                }
            }
        }

        margin-bottom: 12px;
    }

    .room-creation-privacy {
        .room-creation-privacy-public {
            display: inline-block;
            
            @include sprite-lock-big-public();
        }

        .room-creation-privacy-private {
            display: inline-block;
            
            @include sprite-lock-big-private();
        }

        .room-creation-privacy-password {
            display: inline-block;
            
            @include sprite-lock-big-password();
        }
    }

    .room-creation-buttons {
        width: 100%;

        text-align: right;

        .dialog-button {
            display: inline-block;

            margin-left: 6px;
        }
    }

    .room-creation-models {
        height: 235px;

        .room-creation-model {
            width: 138px;
            height: 100px;

            position: relative;

            overflow: hidden;

            canvas {
                position: absolute;

                left: -100%; right: -100%;
                top: -100%; bottom: -100%;

                margin: auto;
            }

            .room-creation-model-tiles {
                position: absolute;

                font-family: "Ubuntu Bold";

                color: #111;

                left: 24px;
                bottom: 6px;

                &:before {
                    content: '';

                    @include sprite-tiles();

                    position: absolute;

                    left: -20px;
                    top: 3px;
                }
            }
        }
    }
}
